name: atividade_prova
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.8
  firebase_core: ^4.2.1
  firebase_auth: ^6.1.2
  firebase_database: ^12.0.4
  provider: ^6.0.5
  flutter_speed_dial: ^7.0.0
  intl: ^0.20.2
  fl_chart: ^1.1.1
  flutter_launcher_icons: ^0.14.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  generate: true

  assets:
    - lib/assets/images/fuel.jpg
    - lib/assets/images/logoApp.png

flutter_intl:
  enabled: true

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "lib/assets/images/logoApp.png"
